[Desktop Entry]
Version=1.0
Type=Application
Name=PPA ReEanabler
Comment=Try to re-enable repositories been disabled after a distro upgrade
Comment[el]=Προσπάθεια επανενεργοποίησης των αποθετηρίων που έχουν απενεργοποιηθεί μετά από μια αναβάθμιση διανομής
GenericName=Re-enable repositories tool, version 3.1.0
GenericName[el]=Εργαλείο επανενεργοποίησης αποθετηρίων, έκδοση 3.1.0
Exec=pkexec-ppa-reeanabler
Icon=reload
Categories=GTK;GNOME;System;Settings;Filesystem
Keywords=apt;ppa;
StartupNotify=false
Actions=CheckEnabled;

[Desktop Action CheckEnabled]
Name=Check the Enabled PPAs
Exec=pkexec-ppa-reeanabler -e

